extends layout

block header
  form(method='POST' action='/build')
    input(type='hidden' name='libs' value=Object.keys(libs).toString())
    button(type='submit') Build

block content
  each val, lib in libs
    div.lib(id=lib)
      h1.lib__header= lib
      div.lib__demo
        != val.demo
      div.lib__docs
        != val.docs
      if val.test
        div.lib__test
          != val.test
      script(src=val.js)
