doctype html
html
  head
    title= helpers.buildTitle(config.name, locals.view, subtitle)
    include _favicon
    if config.isProd
      link(rel='stylesheet', href='/demo.css')
  body(id=locals.view)
    include _header
    block content
    script(src='/demo.js')
