doctype html
html
  head
    title= helpers.buildTitle(config.name, view, subtitle)
    include _favicon
    if !config.develop
      link(rel='stylesheet', href='/demo.css')
  body(id=view)
    include _header
    block content
    script(src='/demo.js')
    script(src='/user_demo.js')
