extends layout

block head
  each lib in libs
    style(src='/assets/' + lib + '/' + lib + '.css')

block content
  h1= title
  p= libs
  each lib in libs
    script(src='/assets/' + lib + '/' + lib + '.js')
