doctype html
html
  head
    title
      = config.app.title
      if title
        = ': ' + title
    if helpers.isProd
      link(rel='stylesheet', href='/app.css')
  body
    block content
    script(src='/app.js')
