doctype html
html
  head
    title= helpers.buildTitle(config.app.title, locals.view, subtitle)
    if helpers.isProd
      link(rel='stylesheet', href='/app.css')
  body
    block content
    script(src='/app.js')
