body
  // /demo
  &#demo
    #libs
      .lib__test
        header,
        .suite-info .suite-path,
        #metadata-container #timestamp
          display: none
        #metadata-container
          display: inline-block
          padding: 0
          border: 0
          margin: 0
        .suite-info
          float: right
          margin: 0
          padding: 0
